*.actionScriptProperties
*.project
*.settings
*.DS_Store
*.flexLibProperties
*.classpath
ActionScriptLibrary/bin
DefaultLibrary/bin
Release/ANE-CameraRoll.swc
Release/build_ane.sh
library.swf
ios/library.swf
xcuserdata
AndroidLibrary/bin
AndroidLibrary/gen
AndroidLibrary/libs
AndroidLibrary/res